@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
@media screen and  (max-width: 800px) {
 
}

/* Index/Home Page */
#index{
    background-color: #ffffff;
}
#index .btn-outline-pink {
    color: #9b1768;
    border-color: #9b1768;
}
#index .nav-link, #index .navbar-brand{
    color: rgb(201, 50, 193);
    font-weight: 600;
}
.nav-link, .navbar-brand{
    color: rgb(35, 122, 89);
    font-weight: 600;
}
.navebar-custom{
    background-color: rgb(173, 58, 189);
}
#indexCard .card-text{
    color: rgb(35, 122, 89);
    font-weight: 700;
    overflow: hidden; 
}
#indexCard{
    margin-left: 50px;
    margin-top: 100px;
    align-content: center;
    
    border: none;
    width: 80rem;
    height: 25rem;
    background-color: rgba(36, 121, 195, 0);
    margin-bottom: 20px;
}
#indexCard h3{
    margin-top: 100px;
    color: #9b1768;
}
#indexCard h6{
    color: #0b0b56;
}
#indexPic{
    width: fit-content;
    height: 25rem;
}
#indexCard button{
    height: 35px;
}

/* footer */
#footer{
	border-top: 2px solid rgba(245, 245, 245, 0);
    position: fixed;
	padding-top: .7em;
    text-align: center;
    padding: 3px;
    background-color: rgba(245, 245, 245, 0);
    color: white;
    bottom: 0;
    width: 100%;
}
.copyright{
    /* text-align: right; */
    font-weight: 500;
    color: #9b1768;
}

/* ABOUT */
#aboutBody{
    background-color:#f4aaf062;
    
}
#mainAboutCard{
    margin-top: 10px;
    background-image: url('https://yolandamatiwane.github.io/ecomImages/cute-pastel-colored-seamless-pattern-background-illustration-with-books-blue-hearts-and-pencil-vector.jpg');
    height: 520px;
    border: none;
    padding: auto;
}
#mainAboutCard h6{
    color: #4b0a2b;
    font-weight: 800;
}
main h3{
    color: #ed529f;
    font-weight: 800;
}
#mainAboutCard #left{
    background-color: #14345391;
    border: 3px solid #143353;
    color: rgb(248, 248, 248);
    font-weight: 600;
    height: 240px;
    margin-top: 10px;
}
#mainAboutCard #right, #mainAboutCard #right2{
    background-color: #7fe07ac9;
    border: 3px solid #7fe07a;
    color: rgb(255, 255, 255);
    font-weight: 600;
    height: 240px;
    margin-top: 10px;
}
#mainAboutCard #right2{
    background-image: url('https://yolandamatiwane.github.io/ecomImages/VswD80.jpg');
    background-size: 350px;
}
#mainAboutCard #mid{
    background-color: rgba(128, 0, 128, 0.537);
    border: 3px solid rgb(128, 0, 128);
    color: rgb(233, 233, 233);
    font-weight: 600;
    height: 490px;
    margin-top: 10px;
}
/* Product Page */
#productBody{
    background-color: #e2d1de93;
}
#productBody .nav-link, #productBody .navbar-brand{
    color: rgb(201, 50, 193);
    font-weight: 600;
}
#productMain .btn-outline-pink {
    color: rgb(201, 50, 193); 
    border-color: rgb(201, 50, 193);
}
#productMain .btn-outline-pink:hover {
    color: #fff; 
    background-color: rgb(201, 50, 193) ; 
  }
#productMain #inp{
    color: rgb(201, 50, 193);
    border-color: rgb(201, 50, 193);
}
section .card{
    background-image: url('https://yolandamatiwane.github.io/ecomImages/study-background-g4ckerc0qf2h8d0u.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: #ffffff;
    font-weight: 800;
    border: none;
}
#productMain .card h3{
    color: white;
}
section .card .card-title{
    background-color:rgba(34, 14, 33, 0.308);
    font-weight: 600;
    margin-top: 100px;
}
article{
    margin-top: 5%;
    display:grid;
    grid-template-columns: repeat( 3, 1fr);
}
article p{
    color: #9b1768;
    font-weight: 900;
    text-align: center;
}
article img{
    width: 350px;
    height: 250px;
}
#viewMore{
    margin-right: 30px;
}
#cards{
    width: 350px;
    margin-bottom: 30px;
    border: none;
    color: white;
    font-weight: 600;
    background-color: #d46bc654;
    margin-left: 30px;
}


/* Contact Page */
#contact{
    background-color: rgb(255, 255, 255);
}
#contact .nav-link, #contact .navbar-brand{
    color: #6b1064c2;
    font-weight: 600;
}
#contactMain .card{
    background-color: rgba(255, 255, 255, 0.9);
    height: 515px;
    margin-top: 10px;
    border: none;
}
#contactMain .card h4{
    color: #6b1064c2;
    font-weight: 700;
}
#contactMain .card img{
    height: 450px;
    width: 450px;
    margin-bottom: 10px;
}
#contactMain .card .btn-outline-pink{
    border-color: #4b0a2b;
    border-width: 2px;
    color: #4b0a2b;
}

#forms{
    margin-top: 45px;
    margin-left: 100px;
    text-align: center;
    align-content: center;
    width: 400px;
}
#contactMain .card .myIcons img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#contactMain .card .myIcons img:hover{
    transform: scale(0.5);
}

/* Checkout Page */
#checkoutBody{
    background-color: rgba(221, 160, 221, 0.575);
}

#checkoutCard{
    background-image: url('https://yolandamatiwane.github.io/ecomImages/a78cb7b8faf56995c255a429d2fe6b8d.jpg');
    height: 170px;
    border: plum;
}
#checkoutCard #orderSumText{
    margin-top: 30px;
    font-weight: 700;
}
#checkoutMain .btn-outline-pink{
    color: rgb(97, 9, 92); 
    border-color: rgb(97, 9, 92);
    
}

/* Admin Page */
#adminMain .btn-outline-pink {
    border-color: #07471c;
    color: #07471c;
}

#adminMain table img{
    width: 200px;
    height: 200px;
}

#adminBody{
    background-color: #d9d7b2a1;
    
}

