@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
#index{
    background-color: #ffffff;
}
#index .nav-link, #index .navbar-brand{
    color: rgb(201, 50, 193);
    font-weight: 600;
}
.nav-link, .navbar-brand{
    color: rgb(35, 122, 89);
    font-weight: 600;
}
.navebar-custom{
    background-color: rgb(173, 58, 189);
}
#indexCard .card-text{
    color: rgb(35, 122, 89);
    font-weight: 700;
    overflow: hidden; 
}
#indexCard{
    margin-left: 50px;
    margin-top: 100px;
    align-content: center;
    
    border: none;
    width: 80rem;
    height: 25rem;
    background-color: rgba(36, 121, 195, 0);
    margin-bottom: 20px;
}
#indexCard h3{
    color: #9b1768;
}
#indexCard h6{
    color: #0b0b56;
}
#indexPic{
    width: fit-content;
    height: 25rem;
}

/* footer */
#footer{
	/* border-top: 2px solid rgb(5, 120, 112); */
    
	padding-top: .7em;
}
.copyright{
    /* text-align: right; */
    font-weight: 500;
    color: #9b1768;
}

/* ABOUT */
#aboutBody{
    background-color:#f4aaf062;
    
}
#mainAboutCard{
    margin-top: 10px;
    background-image: url('https://yolandamatiwane.github.io/ecomImages/cute-pastel-colored-seamless-pattern-background-illustration-with-books-blue-hearts-and-pencil-vector.jpg');
    height: 520px;
    border: none;
    padding: auto;
}
main h3{
    color: #ed529f;
    font-weight: 800;
}
#mainAboutCard #left{
    background-color: #14345391;
    border: 3px solid #143353;
    color: rgb(248, 248, 248);
    font-weight: 600;
    height: 240px;
    margin-top: 10px;
}
#mainAboutCard #right{
    background-color: #7fe07ac9;
    border: 3px solid #7fe07a;
    color: rgb(255, 255, 255);
    font-weight: 600;
    height: 240px;
    margin-top: 10px;
}
    
#mainAboutCard #mid{
    background-color: rgba(128, 0, 128, 0.537);
    border: 3px solid rgb(128, 0, 128);
    color: rgb(233, 233, 233);
    font-weight: 600;
    height: 490px;
    margin-top: 10px;
}

article{
    margin-top: 5%;
    display:grid;
    grid-template-columns: repeat( 3, 1fr);
}
article img{
    width: 400px;
    height: 200px;
}
#viewMore{
    width: 100px;
}
#cards{
    width: 400px;
}
#purchase{
    width: 120px;
}

/* Contact Page */
#contactBody{
    background-color: rgba(189, 159, 238, 0.477);
}
#contactMain .card{
    background-image: url('https://yolandamatiwane.github.io/ecomImages/light-pink-flowers-empty-white-vintage-3d-parchment-banner-scroll_9883-4.avif');
    background-repeat: no-repeat;
    background-size:100%;
    width: 900px;
    height: 515px;
    margin-top: 10px;
    margin-left: 250px;
    border: none;
}

#forms{
    margin-top: 45px;
    margin-left: 100px;
    text-align: center;
    align-content: center;
    width: 400px;
}